---
- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes
  become: true

- name: Copy Nginx config
  template:
    src: loadbalancer.conf.j2
    dest: /etc/nginx/sites-available/default
  notify:
    - Reload Nginx
  become: true

- name: Ensure Nginx is running
  service:
    name: nginx
    state: started
    enabled: yes
  become: true
